<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DQX - Query Bad Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body class="font-sans">
    <div class="container mt-4 mb-4 text-end">
        <a href="/" class="btn btn-outline-primary" style="border-radius: 8px;">
            <i class="bi bi-house-door"></i> Back to Main Page
        </a>
    </div>
    <div class="container mx-auto p-8">
        <div class="glass-card p-6 mb-8">
            <h1 class="text-4xl font-bold mb-4 text-center">DQ Errors query</h1>
        </div>

        <div class="glass-card p-6">
            <h2 class="text-2xl font-bold mb-4">Filters</h2>
            <form method="get">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
                    <input type="text" name="rule_id" placeholder="Filter by Rule ID" class="p-2 rounded bg-gray-700 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" value="{{ rule_id }}">
                    <input type="text" name="source_id" placeholder="Filter by Source ID" class="p-2 rounded bg-gray-700 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" value="{{ source_id }}">
                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300">Query Data</button>
                </div>
            </form>

            <h2 class="text-2xl font-bold mb-4 mt-8">Results</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            {% if headers %}
                                {% for header in headers %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            {% else %}
                                <th>No results</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
